<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javacodegeeks">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bluetooth"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".androidBluetoothExample.Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".androidBluetoothExample.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device" />
        <activity
            android:name=".androidBluetoothExample.BluetoothChat"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".androidBluetoothExample.SelectActivity"
            android:label="@string/title_activity_select"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".androidBluetoothExample.ActivityCallService"
            android:label="@string/title_activity_call_service"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>